{% extends "base.html" %}
{% block header %}
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="utf-8">
    <title>Music player</title>

    <!-- search box-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <h3>Email: ahz.975@yahoo.com</h3>
    <h3>Phone Number: +1 (514) 567 5678</h3>
{% endblock %}
{% block nav %}
{% endblock %}
