{% extends "base.html" %}
{% block header %}
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="utf-8">
    <title>Music player</title>

    <!-- search box-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block body %}
    <!-- search box-->
    <div class="topnav">
        <div class="search-container">
        <form action="{{url_for('music')}}" method="post">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
    </div>  
    <!-- end of search box-->
  
    <img src="../static/imgs/Logo.jpg" alt="Logo" width="200" height="100" >
    <figcaption>Infinity Music</figcaption>
<!-- 
    <div style="text-align: center;" class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>
     -->
    <div style="text-align: center">
        <br>
        <br>
        <h2>Music</h2>
        
        <!-- Music player -->
        <audio controls="controls" autoplay="autoplay">
            <source src="{{downloadLink}}">
        </audio>
                
        <form action="{{url_for('music')}}" method="post" style="text-align: right;">                        
            <input type="submit" name="clearHistory" value="Clear History" />            
        </form>

        <br>

        <!-- Search history -->
        <ul style="text-align: center; display: inline-block; float: right;">
            <h2> Your search history:</h2>
            {% for song in songs %}
                <li><a href="javascript:void(0);">{{song}}</a></li>
            {% endfor %}
        </ul>

        <!-- Best song -->
        <ul style="text-align: center; display: inline-block; float: left;">
            <h2> Suggested Best Songs:</h2>
            {% for bestSong in bestSongs %}
                <li><a href="javascript:void(0);">{{bestSong}}</a></li>
            {% endfor %}
        </ul>

        <!-- Music information -->
        <ul style="text-align: center; display: inline-block;">
            <li><h4>Artist:</h4> {{artist}}</li>
            <br>
            <li><h4>Title:</h4>  {{title}}</li>
            <br>
            <li><h4>Lyric:</h4>  {{lyric}}</li>
            <br>
            <li><h4>Time:</h4> {{time}}</li>
            <br>
            <h4>Download Link:</h4><li><a href={{downloadLink}}>{{downloadLink}}</a></li>
        </ul>

    </div>

    <!-- <script type='text/javascript'>
        {% for song in songs %} 
            $('li').click(function(){
                var str = $(this).text()
                $('audio').attr('src', '/static/music/'+str);
            });
        {% endfor %} -->
    <!-- </script> -->
{% endblock %}
{% block nav %}
{% endblock %}
