
{% extends "base.html" %}

{% block header %}
  <meta charset="utf-8">
  <title>Sign Up</title>
{% endblock %}
{% block body %}
  <h1 id="Music_Cloud"><strong>Music Cloud</strong></h1>

  <img src="../static/imgs/Logo.jpg" alt="Logo" width="200" height="100">
  <figcaption>Infinity Music</figcaption>
  <br>

  {% if 'username' in session %}
        <p>You are already logged in as {{session['username']}}!</p>
        <form action="{{url_for('login')}}" method="post">
            <input type="submit" name="logout" value="logout" />
        </form>
  {% else %}        
        <form style="text-align: center;" action="{{url_for('signup')}}" method="post">
            <p>Email<br />  
            <input id="text_box" type="email" name="email"></p>
            <br />
            <p>Mobile Number<br />  
            <input id="text_box" type="number" name="phoneNumber"></p>
            <br />
            <p>Username<br />
            <input id="text_box" type="text" name="username" /></p>
            <br/>
            <p>Password<br />
            <input id="text_box" type="password" name="password" /></p>
            <br/>
            <p>Password Confirmation<br />
            <input id="text_box" type="password" name="passwordConfirm" /></p>
            <br/>
            <p><input id= "create_but" type="submit" value="submit" /></p>
        </form>
    {% endif %}
{% endblock %}




    